  body{
    padding-top: 30vh;
    background-color: #392657;

  }
  div{
    margin: 0 auto;
  }

.loader {
  border: 16px solid rgb(174, 52, 219);
  border-radius: 50%;
  border-top: 16px solid #ffffff;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

